#map { 
    height: 620px;
    border-radius: 5px;
}

#info-box {
    height: 350px;
    background-color: #00C5CD;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }

#container {
  margin: 30px;
}

#info-box-content {
  padding: 50px;
  padding-top: 30px;
}