#map { 
    height: 620px;
    border-radius: 5px;
}

#info-box {
  border: none;
  border-radius: 5px;
}

#info-box-content {
    background-color: #AEE8EB;
    padding: 10px;
}

#info-box-heading {
  background-color: #90D3D6;
  border: none;
}

.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }

#container {
  margin: 30px;
}
