#map { 
    height: 770px;
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
}

#info-box {
    height: 350px;
    width: 550px;
    float: right;
    margin-right: 50px;
    background-color: #7f2a44;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }