#map { 
    height: 620px;
    width: 54%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: inline-block;
}

#info-box {
    height: 350px;
    width: 550px;
    float: right;
    background-color: #7f2a44;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}


.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }

  #date {
    height: 35px;
    width: 90px;
    background-color: #b1cee5;
    float: right;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    color: white;
  }
  #date:hover {
    color: gray;
  }

  #date:visited {
    color: white;
  }