<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>twfy</title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='lib/Leaflet.MapboxVectorTile.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    {#<script src="{{ url_for('static', filename='js/tile_map.js') }}"></script>#}

  </head>
  <body>
    <div id="container">
      <div class="row">
        <div class="col-md-6">
          <div id="map"></div>
        </div>
        <div class="col-md-6">
          <div id="info-box" class="panel panel-default">
            <div id="info-box-heading" class="panel-heading">
              <h2 id="constit-name">Constituency</h2>
            </div>
            <div id="info-box-content" class="panel-body">
              <div id="constit-info">
                <p id="party">Party</p>
                <p id="mp">MP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function() {
        var map = L.map('map', {
            zoomControl: false
        }).setView([54.7, -3], 6);

        L.control.zoomslider().addTo(map);

        var constitData = {{ constit_data|tojson|safe }};
        function constitSelectedStyle(feature) {
          constit = feature.properties.name;
          try {
            constitData[constit]["party"];
          } catch(e) {

          }
          return {
                 color: partyColour(constit, 'fill'),
                 outline: {
                   color: partyColour(constit, 'border'),
                   size: 2.5
                 }
              };
        }

        var labourRed = '213,0,0',
            conservativeBlue = '0,135,220',
            libDemYellow = '253,187,48',
            snpYellow = '255,249,93',
            plaidCyrmuGreen = '63,132,40',
            greenGreen = '141,198,63',
            ukipPurple = '179,0,157',
            indiePink = '231,103,213',
            speakerTeal = '17,167,163',
            otherGrey = '103,136,136';

        var partyColours = {
          'Labour': labourRed,
          'Labour/Co-operative': labourRed,
          'Conservative': conservativeBlue,
          'Liberal Democrat': libDemYellow,
          'Scottish National Party': snpYellow,
          'Plaid Cymru': plaidCyrmuGreen,
          'Green': greenGreen,
          'UKIP': ukipPurple,
          'Independent': indiePink,
          'Speaker': speakerTeal,
          'Sinn Féin': otherGrey,
          'DUP': otherGrey,
          'Social Democratic and Labour Party': otherGrey,
          'UUP': otherGrey
        }

        function partyColour(feature, type) {
          // There's maybe a nicer way of doing this but I'm not sure what it is
          if (!constitData[feature]) {
            if (type === 'fill') {
              return `rgba(${otherGrey},0.4)`;
            }
            else if (type === 'border') {
              return `rgb(${otherGrey})`;
            }
          }
          if (!constitData[feature]) {
            console.log(feature);
          }
          var party = constitData[feature]['party'];
          if (type === 'fill') {
            return `rgba(${partyColours[party]},0.4)`;
          }
          else if (type === 'border') {
            return `rgb(${partyColours[party]})`;
          }
        }

        // This gets some weird 404s when the request type is json. Not sure why it's
        // expecting json when it should be expecting x-protobuf. All the ones expecting x-protobuf work fine.
        var config = {
          url: "http://{s}.tiles.mapbox.com/v4/violett.49e091ba/{z}/{x}/{y}.vector.pbf?access_token=sk.eyJ1IjoidmlvbGV0dCIsImEiOiJOaG5rLTFzIn0.ZMgU68F1fNtcTRE8orT3Uw",
          clickableLayers: ["constits"],
          mutexToggle: true,
          getIDForLayerFeature: function(feature) {
            return feature.properties.id;
          },
          style: function(feature) {
            var style = {};

            style.color = partyColour(feature.properties.name, 'fill');
            style.outline = {
              color: partyColour(feature.properties.name, 'border'),
              size: 0.5
            };
            style.selected = constitSelectedStyle(feature);
            return style;
          },
          onClick: function(event) {
            var parties = []
            var constit = event.feature.properties.name;

            if ( !$.inArray(Object.keys(constitData), constit) ) {
              console.log("This isn't doing what it's supposed to");
              $('#party').text("This constituency doesn't have an elected MP at the moment");
              $('#mp').text("");
            } else {
              $('#constit-name').text(constit);
              $('#party').text("Party: " + constitData[constit]["party"]);
              $('#mp').text("MP: " + constitData[constit]["mp_name"]);
            }
          }
        };

        var mvtSource = new L.TileLayer.MVTSource(config);
        map.addLayer(mvtSource);

        L.tileLayer('http://{s}.tiles.mapbox.com/v4/{mapID}/{z}/{x}/{y}.png?access_token={token}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          mapID: 'violett.m2bjk7ma',
          token: 'pk.eyJ1IjoidmlvbGV0dCIsImEiOiI3bjNWeU1NIn0.hqY_yHNXSXOGeEmCGJ7eIQ'
        }).addTo(map);

      });
    </script>
  </body>
</html>
